* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    background-color: rgb(29, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.clock-face {
    position: relative;
    background-color: #ffff;
    width: 300px;
    opacity: 0.6;
    height: 300px;
    border-radius: 50%;
    box-shadow: 15px 13px 119px 22px rgba(110, 99, 99, 0.64);
    -webkit-box-shadow: 15px 13px 119px 22px rgba(110, 99, 99, 0.64);
    -moz-box-shadow: 15px 13px 119px 22px rgba(110, 99, 99, 0.64);
    border: 5px solid rgb(43, 42, 42);
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    /* transition: all 0.5s; */
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    background-color: purple;
}

.mint-hand {
    background-color: aqua;
}

.second-hand {
    background-color: darkblue;
}